<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Pelupet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding animacion-home">

  <div class="ion-text-center fade-up delay-0">
    <h2>¡ubicacion Pelupet!</h2>
    <p>🐾</p>
  </div>

<ion-content class="ion-padding">
  <div class="ion-text-center">
    <h2>Ubicación Actual</h2>
  </div>
  <div id="mapa-ubicacion"></div>
</ion-content>

<div class="fade-in-up delay-8">
  <ion-button expand="block" color="medium" (click)="irHome()" style="margin-top: 20px;">
    Volver a Inicio
  </ion-button>
</div>
