<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Pelupet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding animacion-home">

  <div class="ion-text-center fade-up delay-0">
    <h2>Tipos de Servicios Pelupet!</h2>
    <p>🐾</p>
  </div>

  <ion-card>
    <img src="assets/image/Express.jpg" alt="Servicio Express" />
    <ion-card-header>
      <ion-card-title>Express</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Incluye baño rápido, corte simple y secado básico. Ideal para mantenimientos frecuentes.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="assets/image/Completo.jpg" alt="Servicio Completo" />
    <ion-card-header>
      <ion-card-title>Completo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Incluye baño, corte completo, limpieza de oídos y uñas. Recomendado mensualmente.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="assets/image/Premium.jpg" alt="Servicio Premium" />
    <ion-card-header>
      <ion-card-title>Premium</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Todo lo anterior + masajes relajantes + perfumado especial + revisión general.
    </ion-card-content>
  </ion-card>
</ion-content>

<div class="fade-in-up delay-8">
  <ion-button expand="block" color="medium" (click)="irHome()" style="margin-top: 20px;">
    Volver a Inicio
  </ion-button>
</div>