<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Pelupet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding animacion-home">

  <div class="ion-text-center fade-up delay-0">
    <h2>¡Bienvenido a Pelupet!</h2>
    <p>Tu app de peluquería canina a domicilio 🐾</p>
  </div>

  <ion-button expand="block" color="success" routerLink="/reservas" class="fade-up delay-1">
    Agendar hora
  </ion-button>

  <ion-button expand="block" color="tertiary" routerLink="/perfil" class="fade-up delay-2">
    Ver mi perfil
  </ion-button>

  <ion-button expand="block" color="warning" routerLink="/servicios" class="fade-up delay-3">
    Tipo de Servicios
  </ion-button>

  <ion-button expand="block" color="medium" routerLink="/ubicacion" class="fade-up delay-3">
    Ver ubicación
  </ion-button>

  <ion-button expand="block" color="medium" routerLink="/login" class="fade-up delay-3">
    Cerrar sesión
  </ion-button>

</ion-content>
